{% extends "base.html" %}

{% block content %}
    <h1>成绩直播</h1>
    <form action="" method="post" novalidate class="form-horizontal">
        {{ form.hidden_tag() }}
        <div>
            {{ form.rround.label }}
            {{ form.rround(size=32) }}
            {% for error in form.rround.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div> 
        
        <div>
            {{ form.item.label }}
            {{ form.item(size=32) }}
            {% for error in form.item.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <p>{{ form.submit() }}</p>
    </form>

    <table >
        <thead>
        <tr>
            {% for i in labels %}
                <td>{{ i }}</td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for i in content %}
            <tr>
                {% for j in i %}
                    <td>{{ j }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
